a {
    font-size:14px;
    font-weight:700
  }
  .superNav {
    font-size:13px;
  }
 /**barra de busqueda**/

 .search-container {
  display: flex;
  align-items: center;
}
.search-container-li {
  margin-right: 30px; /* Ajusta el margen derecho según tus necesidades */
}

.search-input {
  width: 0;
  opacity: 0;
  overflow: hidden;
  transition: width 0.3s;
}

.search-button {
  cursor: pointer;
}

.search-container:hover .search-input {
  width: 250px; /* Ancho al hacer hover */
  opacity: 1;
}

  @media screen and (max-width:540px){
    .centerOnMobile {
      text-align:center
    }
  }