/* Estilo adicional para suavizar transiciones */
.btn-check {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* Estilo adicional para indicar que los géneros son clicables */
.btn-outline-primary {
    cursor: pointer;
}

/* Terror */
.terror:checked + .terror-label,
.terror:hover + .terror-label {
    background-color: #8B4513; /* Marrón rojizo */
    color: #fff;
    border: 1px solid #8B4513;
}
.terror-label {
    border: 1px solid #8B4513;
    color: #8B4513;
}

/* Romance */
.romance:checked + .romance-label,
.romance:hover + .romance-label {
    background-color: #FF69B4; /* Rosa intenso */
    color: #fff;
    border: 1px solid #FF69B4;
}
.romance-label {
    border: 1px solid #FF69B4;
    color: #FF69B4;
}

/* Fantasía */
.fantasia:checked + .fantasia-label,
.fantasia:hover + .fantasia-label {
    background-color: #9370DB; /* Púrpura medio */
    color: #fff;
    border: 1px solid #9370DB;
}
.fantasia-label {
    border: 1px solid #9370DB;
    color: #9370DB;
}

/* Ciencia Ficción */
.cficcion:checked + .cficcion-label,
.cficcion:hover + .cficcion-label {
    background-color: #00CED1; /* Turquesa medio */
    color: #000;
    border: 1px solid #00CED1;
}
.cficcion-label {
    border: 1px solid #00CED1;
    color: #00CED1;
}

/* Historia */
.historia:checked + .historia-label,
.historia:hover + .historia-label {
    background-color: #FA8072; /* Rojo salmón claro */
    color: #fff;
    border: 1px solid #FA8072;
}
.historia-label {
    border: 1px solid #FA8072;
    color: #FA8072;
}

/* Arte */
.arte:checked + .arte-label,
.arte:hover + .arte-label {
    background-color: #5F9EA0; /* Azul verdoso claro */
    color: #fff;
    border: 1px solid #5F9EA0;
}
.arte-label {
    border: 1px solid #5F9EA0;
    color: #5F9EA0;
}


/* Thriller */
.thriller:checked + .thriller-label,
.thriller:hover + .thriller-label {
    background-color: #1E90FF; /* Azul real */
    color: #fff;
    border: 1px solid #1E90FF;
}
.thriller-label {
    border: 1px solid #1E90FF;
    color: #1E90FF;
}

/* Poesía */
.poesia:checked + .poesia-label,
.poesia:hover + .poesia-label {
    background-color: #FF6347; /* Rojo tomate */
    color: #fff;
    border: 1px solid #FF6347;
}
.poesia-label {
    border: 1px solid #FF6347;
    color: #FF6347;
}

/* Drama */
.drama:checked + .drama-label,
.drama:hover + .drama-label {
    background-color: #FF8C00; /* Naranja oscuro */
    color: #fff;
    border: 1px solid #FF8C00;
}
.drama-label {
    border: 1px solid #FF8C00;
    color: #FF8C00;
}

/* Biografía */
.biografia:checked + .biografia-label,
.biografia:hover + .biografia-label {
    background-color: #FFA07A; /* Salmón claro */
    color: #fff;
    border: 1px solid #FFA07A;
}
.biografia-label {
    border: 1px solid #FFA07A;
    color: #FFA07A;
}


/* Misterio */
.misterio:checked + .misterio-label,
.misterio:hover + .misterio-label {
    background-color: #8A2BE2; /* Violeta oscuro */
    color: #fff;
    border: 1px solid #8A2BE2;
}
.misterio-label {
    border: 1px solid #8A2BE2;
    color: #8A2BE2;
}

/* Policíaca */
.policiaca:checked + .policiaca-label,
.policiaca:hover + .policiaca-label {
    background-color: #DC143C; /* Rojo carmín */
    color: #fff;
    border: 1px solid #DC143C;
}
.policiaca-label {
    border: 1px solid #DC143C;
    color: #DC143C;
}